@import "tailwindcss";

body{
  background: black;
}
*{
  font-family: Raleway;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}